.container{
    background-image: url(1.jpg);
    width: 1200px;
    height:610px;
    margin-top: 10px;
    margin-left: 50px;

}

.a1 h1{
  
    color: white !important;
    text-align: center;
    font-size:large;
    font-weight: 900;
    
    

}
.b1{
  
   background-color: palevioletred;
   width: 1200px;
    height:500px;
    
    

}

body{
    text-align: center;
}
h2{
    background-color:blue;
    color: white !important;
    height: 50px;
    display: inline-block;
    width: 70px;
   
    
    

}
@media only screen and (max-width: 600px) {
    .container{
    
        width: 400px;
        height:650px;
        margin-top: 10px;
        
    
    }
    
    
  }